body{
    font-family: sans-serif;
    background-image: url('../assests/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#container{
     height: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

    
}
.loginContents{
    background-color: #212529;
  
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  
    border-radius: 30px;
    order:1;
    flex: 0;
      
}
.welcome{
  background-color: #191919;
  height: 460px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.loginContents p{
    color:#6c757d!important;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.loginContents h1{
  color: white;
    letter-spacing: 2px;
    margin-top: 20px ;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 2.5rem;
}
#errorMessage{
margin-top: 20px;
margin-bottom: 0px !important;

}
input[type=text],input[type="password"] {
    outline: none;
    border: 2px solid #3498db;
    border-radius: 24px;
    padding: 10px 10px;
    color:white;
    text-align: center;
    background-color: transparent;
    margin: 10px auto;
    transition: 0.25s;
    width: 240px;
    
    

  }
  input[type=text]:focus,input[type=password]:focus{
    border: 2px solid #CC6119 !important;
    border-radius: 24px;
    padding: 10px 10px;
    text-align: center;
    background-color: transparent;
    width: 280px;
    color: white;


  }
  input[type=submit] {
    border: 3px solid#CC6119;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    width: 120px;
    background-color: transparent;
    color: white;
    margin-top: 10px;

  }
  input[type=submit]:hover {
    border: 3px solid#CC6119;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    width: 120px;
    background-color:#CC6119;
    color: white;

  }
  .loginContents a{
    color: #6c757d;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .welcomeContents{
    background-color: #191919;
    height: 400px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    
  }
  .welcomeContents h1{
    color: white;
    letter-spacing: 2px;
    margin-top: 26 px ;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 2.5rem;
    
}

.signup{
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
order: 2;
padding-bottom: 20px;
}
.signup a {
  text-decoration: none;
  color: white;
}
.signup p{
  color: white;

}
.signupContents{
  background-color: #191919;
 
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  flex: 0;
}
.signupContents h1{
  color: white;
  letter-spacing: 2px;
  margin-top: 10px ;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 2.5rem;
  padding: 20px;
}
.signupContents p{
margin-top:10px !important;
margin-bottom: 10px;


}
.spacer{
  height: 20px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.signIn{
  color: #6c757d;
  
  flex-direction: column; /* This property may not be needed for this class */
  justify-content: flex-end; /* Positions the child at the bottom */
  align-self: center; /* Centers the child horizontally */
  order: 2; /* Determines the order in which the child is displayed in a flex container */
  padding-bottom: 20px; 

}
.signIn a{
  
  color: white;
  text-decoration: none;
}
